.body-style {
  max-width: 1200px;
  min-width: 800px;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

h3 {
  padding: 0px 10px;
}

input {
  height: 20px;
}

.input-section {
  display: flex;
  align-items: center;
  background-color:orange;
  padding: 0px 20px;
}

.input-btn-style {
  margin: 0px 0px 0px auto;
  padding: 5px 20px;
}

.list-style {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box-style {
  border: 1px solid black;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  padding: 0 20px;
}

.title-style {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 10px 10px 10px;
}

.todo-style {
  font-size: 20px;
  margin: 5px 10px 20px 10px;
}

.btn-style {
  margin: 0 auto;
}

.list-style button {
  padding: 5px 50px;
  margin: 0 5px;
}
